<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
		
<jdbc:embedded-database id="dataSource" type="H2" />

<jdbc:embedded-database id="dataSource" type="H2">
	<jdbc:script location="classpath:script.sql"/>
</jdbc:embedded-database>
 
<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	<property name="dataSource" ref="dataSource" />
	
	<property name="configLocation">
		<value>classpath:hibernate.cfg.xml</value>
	</property>
	<property name="hibernateProperties">
		<props>
			<prop key="hibernate.hbm2ddl.auto">true</prop>
		</props>
	</property>
	<property name="packagesToScan" value="com.autentia.training.**.*" />
</bean>

 
 
 
</beans>

